
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #f5f7fa;
    padding-bottom: 40px;
    font-family: Montserrat;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}
.main-container {
    background: #ffffff;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.my-foto {
    width: 370px;
}
.abot-me-container{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 11px;
    padding-bottom: 110px;
}
.contacts-conteiner{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}
.contacts-titl{
    font-size: 22px;
    font-weight: 700px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}
.contacts-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #8e949c;
    text-decoration: none;
}
.cont-link-type{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
    
}
.tech-skills-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 15px;
    color: #ffffff;
}
.tech-skills-conteiner{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 55px;
}
.tech-skils-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
}
.teh-skl-text{
    color: #9ba0a7;
}
.soft-skills-conteiner {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 55px;
}
.soft-skills-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 15px;
    color: #ffffff;
}
.soft-skils-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
}
.soft-skl-text{
    color: #9ba0a7
}
.developer{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 2px;
    margin-top: 53px;
}
.name{
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
}
.descriptoin{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}
.abot-me-info{
    margin-bottom: 65px;
}
.about-me-titl{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-top: -15px;
    margin-bottom: 20px;
}
.project-link{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}
.tech-name{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.dots{
    color: #bdbdbd;
    font-weight: 100;
}
.project-item{
    font-weight: 700;
    margin-left: 17px;
}
.projects-container{
    margin-bottom: 35px;
    
}
.profesoin-titl{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.orange{
    color: #ff6b08;
}
.prof-time{
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}     
.prof-divided {
    color: black;
}
.prof-duty{
margin-top: 14px;
margin-bottom: 30px;
}
.work-text{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}
.meneg{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 15px;
}

